
.jokeNetLogin { 
  height:110px;
  width:190px;
  margin:auto;
  border:1px #CCC solid;
  padding:10px;
}

.jokeNetLogin input { 
  padding:5px;
  margin:5px;
}

.jokeNetCreate { 
  height:180px;
  width:190px;
  margin:auto;
  border:1px #CCC solid;
  padding:10px;
}

.jokeNetCreate input { 
  padding:5px;
  margin:5px;
}

#topRight {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.jokePost {
  margin:auto;
  margin-bottom: 10px;
  border:2px #CCC solid;
  border-radius: 10px;
  width:80%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.jokePost b,
.jokePost form{
  padding-left: 5px;
}
.jokePost form input[type="submit"] {
  margin-left: 3px;
}
.jokePost #rating {
  margin-left: 10px;
}

textarea {
  margin:auto;
  margin-bottom: 10px;
  border:2px #CCC solid;
  width:80%;
  height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.submitJoke {
  margin: auto;
  padding-left: 5px;
} 