body{
  background:#CCC;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.n-profile-bar{
  width:260px;
  height:323px;
  background:#FFF;
  padding:5px 0 0px 0;
  border-radius:3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  margin:100px auto;
}
.n-profile-bar .name{
  width:260px;
  
  border-bottom:1px solid #ebebeb;
}
.n-profile-bar .name h3{
  font-size:16px;
  color:#616161;
  margin:10px 0 0px 90px;
  width:160px;
  text-align:left;
}

.n-contact ul li{
  list-style-type: none;
  margin:0px;
  float:left;
  color:#2D303C;

  height:30px;
  width:248px;
  display:block;
  padding:12px 0 0 9px;
  border-bottom:1px solid #ebebeb;
}

.n-contact ul{
  margin:0;
  width:260px;
  font-size:13px;
  padding:0px 0 0 0px;
  border-radius:4px;
}
.n-contact{margin:0;width:260px;}

li.dribble {
  border-left:3px solid #d97aa5;
}
li.fb{border-left:3px solid #3B5998; }
li.github{border-left:3px solid #f8bc2e; }
li.twitter{border-left:3px solid #45b0e3; }